/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(234, 238, 238);
}

main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    column-gap: 0.5rem;
}

.phones {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.phones .animated-phone {
    position: absolute;
    width: 15rem;
    height: 27rem;
    display: block;
    z-index: 11;
    margin-left: 5.6rem;
    margin-top: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: blue;
    color: #fff;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 30%;
    height:100%;
    padding: 0.5rem 0;
}

.login-wrapper .login-form {
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 70%;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
    align-items: center;
    /* padding: 2rem; */
    border: 1px solid #ccc;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
}

.login-form .login-form-body {
    width: 100%;
    height: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-wrapper {
    width: 100%;
}

.login-form .login-form-body .input-wrapper input {
    background: #fff;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    font-size: 1rem;

}

.login-form .login-form-body .input-wrapper input:focus {
    outline: rgb(122, 156, 255);
}

.login-form .login-form-body .input-wrapper button {
    background: rgb(87, 75, 255);
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

.login-form .login-form-body .input-wrapper button:hover {
    background: rgb(122, 156, 255);
}

hr {
    background-image: linear-gradient(to right, transparent, #CCC, transparent); 
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    text-align: center;

}

.login-form-footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-form-footer a:first-of-type {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(117, 145, 235);
    text-decoration: none;
    margin-bottom: 0.5rem;

}

.login-form-footer a:last-of-type {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(117, 145, 235);
    text-decoration: none;
    margin-bottom: 0.5rem;

}

.signup {
    border: 1px solid #ccc;

    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: rgb(117, 145, 235);
    text-align: center;
}

.signup a {
    padding-top: 0.5rem;
    text-decoration: none;
    color: rgb(117, 145, 235);
}

.signup span {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(117, 145, 235);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.get-app {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #ccc;
    margin: 1rem auto;
}

.get-app-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0rem;
}


